*{
	box-sizing: border-box;
}

/* general */
.container{
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	clear: both;
}








/* header */
#masthead{
	position: fixed;
	width: 100%;
	margin: 0 0 30px;
	overflow: auto;
	color: darkred;
	background: gold;
	border-bottom: 2px solid grey;
}

nav{
	float: right;
	margin-top: 25px;
	color: blue;
}

nav a{
	display: inline-block;
	padding-left: 15px;
	margin-left: 15px;
	line-height: 18px;
	color: rgb(0, 0, 0);
	text-decoration: none;
	border-left: 1px solid rgb(77, 191, 219);
	
}

nav:first-child{
	border-left: 0 none;
}
/* main */
#main-container {
	padding-top: 130px;
}

.main-section {
	float: left;
	width: 100%;
	max-width": 650;
	padding: 30px;
	margin: 0 0 40px;
	background: #fff;
	border: 1px solid #ddd;

}

.auth-image {
	float: left;
	width: 200px;
	height: auto;
	margin-top: 10px;
	margin-right: 25px;

}

/* sidebar */
.sidebar{
	float: right;
	width: 100%;
	max-width: 270px;
	padding: 30px;
	margin-bottom: 20px;
	background: rgb(238, 255, 0);
	border: 1px solid yellow;
}

h3, .sidebar h2 {
	padding-bottom: 20px;
	margin-bottom: 15px;
	line-height: 22px;
	border-bottom: 2px solid yellow;
} 

.social{
	width: 62px;
	height: 62px;
	margin-top: 8px;
	margin-right: 5px;
}
/* portfolio page*/

.work {
	position: relative;
	float: left;
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
}
.work:nth-child(even) {
	margin-right: 40px;
}
.work img{
	width 100%;
	border: 0 none;
	opacity: 0.0;}

.work h3{
	position: absolute;
	bottom: 20px;
	width: 100%;
	padding: 15px;
	margin-bottom: 0;
	font-weight: 300;
	color: purple;
	text-align: center;
	background: aqua;
	border-bottom: 0;

	}



/* footer */
footer {
	padding: 30px 0;
	clear: both;
	font-size: 12px;
	text-align: center;
	color: yellow;
	background: black;
	border-top: 8px solid red;
}

.work {
	position: relative;
	float: left;
	width: 274px;
	margin: 20px 0 25px;
	overflow: auto;
}